html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}


body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #fff;
}

.wrap {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.top {
  padding-top: 10px;
}

.link {
  color: #333;
  transition: color 0.1s ease;
}

.link:hover {
  color: #000;
  font-weight: 600;
  border-bottom: solid 1px;
}